<section class="flex justify-center items-center w-full dark:text-milk-light text-base-dark">
  <!-- Header navigation -->
  <div class="flex justify-between items-center max-w-5xl w-full py-4">
    <div>
      <%= link_to root_path do %>
        <h1 class="text-5xl font-bold px-3 xl:p-0">
          MILK-00
        </h1>
      <% end %>
    </div>
    <div class="flex items-center gap-1" data-controller="dark-mode">
      <div class="hidden md:flex justify-evenly items-center mt-4 gap-4">
        <%= link_to "Client", root_path %>
        <!-- Fiverr Icon -->
        <svg class="w-[21px] h-6 text-base-dark dark:text-milk-light" width="21" height="22" viewBox="0 0 21 22" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path d="M17.875 17.875V6.875H6.875V6.1875C6.875 5.0501 7.8001 4.125 8.9375 4.125H11V0H8.9375C7.2971 0.00203759 5.72447 0.654587 4.56453 1.81453C3.40459 2.97447 2.75204 4.5471 2.75 6.1875V6.875H0V11H2.75V17.875H0V22H9.625V17.875H6.875V11H13.7885V17.875H11V22H20.625V17.875H17.875Z"/>
          <path d="M15.8125 4.125C16.9516 4.125 17.875 3.20159 17.875 2.0625C17.875 0.923413 16.9516 0 15.8125 0C14.6734 0 13.75 0.923413 13.75 2.0625C13.75 3.20159 14.6734 4.125 15.8125 4.125Z"/>
        </svg>
        <!-- UpWork Icon-->
        <svg class="w-7 h-6 mt-3 text-base-dark dark:text-milk-light" width="28" height="22" viewBox="0 0 28 22" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path d="M21.6556 12.4948C20.3702 12.4948 19.1628 11.8936 18.0691 10.9093L18.3333 9.5207L18.3421 9.46542C18.5835 7.99048 19.3308 5.51091 21.6547 5.51091C23.3959 5.51091 24.8081 7.07701 24.8081 9.00577C24.8081 10.9297 23.395 12.4958 21.6547 12.4958L21.6556 12.4948ZM21.6556 1.97435C18.6938 1.97435 16.3917 4.10579 15.4581 7.61617C14.0363 5.24715 12.9513 2.39908 12.3231 0H9.13296V9.19681C9.12859 11.015 7.80213 12.4851 6.16156 12.49C4.52098 12.4851 3.19453 11.0102 3.19015 9.19681V0H0V9.19681C0 12.9642 2.76579 16.0508 6.16156 16.0508C9.56083 16.0508 12.3231 12.9651 12.3231 9.19681V7.65593C12.9426 9.08529 13.7038 10.5399 14.6287 11.8228L12.674 22H15.9368L17.3542 14.6156C18.594 15.4942 20.0202 16.0498 21.6564 16.0498C25.1563 16.0498 28 12.8779 28 9.00383C28 5.12496 25.1563 1.97338 21.6564 1.97338L21.6556 1.97435Z"/>
        </svg>
        <!-- dark mode toggle -->
        <%= render "shared/darkmode_toggle" %>
        <!-- Milk Admin sign in -->
        <%= link_to new_milk_admin_session_path do %>
          <%= image_tag "mug.svg", alt: "admin sign in" %>
        <% end %>
      </div>
    </div>
  </div>
</section>
<!-- About -->
<section id="about-me" class="bg-base-light text-base-dark dark:bg-base-dark dark:text-gray-50">
  <!-- component -->
  <div class="h-vh pt-10 sm:pt-0 mb-10 mx-auto max-w-5xl">
    <div class="container mx-auto grid grid-cols-1 md:grid-cols-2 items-center md:gap-20">
      <div class="px-4 xl:px-0">
        <h1 class="text-2xl font-bold leading-tight mt-5 sm:mt-0 ">
          Mason Roberts - Developer3027
        </h1>
        <h2 class="text-lg font-bold">
          Designer And Developer 
        </h2>
        <p class="mt-5 md:text-md ">
          I am a web engineer. I prefer Ruby on Rails these days, but know and work with React systems. I fancy myself a full stack developer and work with React, Next, Node and all those great javascript frameworks for the frontend. Express or Rails for the backend and PostgreSQL or MongoDB for database. I have been into design and development for many years now. Started at a young age but it wasn't until the past several years that it became a focus. I have several IT certifications, love Linux and Git, design mainly with Figma and build with VS Code.
        </p>
      </div>
      <div class="flex justify-center items-center w-full">
        <%= image_tag "mason_roberts_3.png", class: "bg-black rounded-full w-[200px]", alt: "Mason Roberts" %>
      </div>
    </div>
  </div>
  <div class="flex flex-col justify-between items-center max-w-5xl w-full my-4 px-4 xl:px-0">
    <p class="mb-4">
      You can find me on Fiverr and on UpWork for Freelance projects. I am always looking to learn and grow so I am known to take on projects for free. If you are in need, it never hurts to reach out. I will say though, there are plenty of WordPress developers out there, I am not that. I build your app, store the code on GitHub or GitLab and use a PaaS like Render, Digital Ocean or Heroku for hosting. My builds are custom and built to your specifications. Your needs and dreams.
    </p>
    <p class="mb-4">
      If you are wanting a system that you will use in house on your own hardware, I would recommend Ruby on Rails. The new version 8 is designed specifically to run local or in the cloud, out of the box. When it comes to the Cloud, I prefer AWS but have experience with Azure and Google.
    </p>
  </div>
</section>
<!-- Skills -->
<section id="skills" class="bg-base-light text-base-dark dark:bg-base-dark dark:text-gray-50">
  <div class="flex flex-col justify-center items-center">
    <h2 class="font-semibold text-2xl text-left w-full">Skills</h2>
    <hr class="border border-base-dark dark:border-base-light w-full my-3">
    <div class="flex flex-col sm:flex-row sm:flex-wrap w-fit max-w-5xl">
      <% @pills.each do |group, pills| %>
        <div class="flex flex-col items-center sm:grow bg-base-dark/75 dark:bg-base-light rounded-md m-4 p-2">
          <h3 class=" text-gray-50 dark:text-base-dark font-bold"><%= group %></h3>
          <% pills.each do |pill| %>
            <div class="bg-base-dark dark:bg-base-light/50 w-fit rounded-md m-2 p-4">
              <!--Pill component-->
              <%= render PillComponent.new(skill: pill.skill, version: pill.version, version_color: pill.version_color) %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</section>
<!-- Projects -->
<section id="projects" class="bg-base-light text-base-dark dark:bg-base-dark dark:text-gray-50">
    <div class="flex flex-col justify-center items-center w-full max-w-5xl pt-4">
      <h2 class="font-semibold text-2xl text-left w-full">Projects</h2>
      <hr class="border border-base-dark dark:border-base-light w-full my-3">
      <% @projects.each do |project| %>
        <div class="flex flex-col bg-base-dark/75 dark:bg-base-light rounded-md m-2 p-4">
          <div class="flex flex-col sm:flex-row w-full sm:w-[575px] sm:h-[280px]">
            <div class="mx-2 sm:m-0">
            <% if project.project_image.present? %>
              <%= image_tag project.project_image, class: "flex rounded-md object-cover w-full sm:w-[225px] sm:h-[275px] mx-auto sm:m-2", alt: "Image for the project" %>
            <% end %>
            </div>
            <div class="flex flex-col justify-items-start pl-2 sm:ml-3 pt-4 sm:pt-2 w-full text-gray-50 dark:text-base-dark">
              <div class="text-2xl font-semibold font-['Albert Sans'] w-fit"><%= project.title %></div>
              <div class="text-sm font-normal font-['Albert Sans'] w-fit"><%= project.description %></div>
              <% if project.code_url.present? %>
                <%= link_to "Click for Code", project.code_url, class: "text-sm font-semibold font-['Albert Sans'] my-2" %>
              <% end %>
              <% if project.design_url.present? %>
                <%= link_to "Click for Design", project.design_url, class: "text-sm font-semibold font-['Albert Sans'] my-2" %>
              <% end %>
              <% if project.live_url.present? %>
                <%= link_to "Click for Live site", project.live_url, class: "text-sm font-semibold font-['Albert Sans'] my-2" %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
</section>
<!-- Pricing -->
<section id="pricing" class="bg-base-light text-base-dark dark:bg-base-dark dark:text-gray-50">
  <div class="flex flex-col justify-center w-full max-w-5xl pt-4">
    <h2 class="font-semibold text-2xl text-left w-full">Pricing</h2>
    <hr class="border border-base-dark dark:border-base-light w-full my-3">
    <h3 class="font-semibold text-lg mt-3">
      How Much Does a Website Cost?
    </h3>
    <p class="py-2">
      One of the first questions you'll ask is, <em>“How much will this cost?”</em>—and that's a great place to start. The answer depends on what you need. A simple restaurant site showcasing a static menu is vastly different from one requiring frequent updates, online reservations, or e-commerce functionality. To get an accurate estimate, we'll need to discuss your goals, answer key questions, and build a plan tailored to your business.
    </p>
    <h3 class="font-semibold text-lg mt-3">
      The DIY Route: Possible, But Not Always Simple
    </h3>
    <p class="py-2">
      There's no shortage of DIY platforms like Wix, Squarespace, Shopify, or WordPress—many of which handle domain registration and hosting for you. These tools are user-friendly and a solid option for those willing to invest time in learning.
    </p>
    <p class="py-2">
      But here's the catch: <strong>Even the simplest website involves more than just dragging and dropping elements</strong>. You'll need to consider:
    </p>
    <ul class="py-2">
      <li>
        <strong>SEO</strong> (Will customers find you on Google?)
      </li>
      <li>
        <strong>Security</strong> (Is your site—and your customers' data—protected?)
      </li>
      <li>
        <strong>Mobile Responsiveness</strong> (Does it work flawlessly on phones and tablets?)
      </li>
      <li>
        <strong>Maintenance</strong> (Who updates content, plugins, and security patches?)
      </li>
      <li>
        <strong>Performance</strong> (Does it load quickly, or will visitors bounce?)
      </li>
    </ul>
    <p>
      You can research all this (Google and AI tools like ChatGPT help!), but many business owners quickly feel overwhelmed. That's where I can help.
    </p>
    <h3 class="font-semibold text-lg mt-3">
      What's the Investment? A Realistic Breakdown
    </h3>
    <p class="py-2">
      To give you a ballpark idea, the hourly rate is $75. It will take roughly a week or better to create a basic 3 to 5 page site, start to finish, but here's what website costs typically look like:
    </p>
    <ul>
      <li><strong>Basic Site</strong> (Static, no frills) - 100 - 3,000 + domain/hosting/subscription fees</li>
      <li><strong>Dynamic / Small Business Site</strong> (Static, no frills) - 2,000 - 10,000 + domain/hosting/subscription fees</li>
      <li><strong>Advanced / E Commerce Site</strong> (Static, no frills) - 10,000 - 50,000 + domain/hosting/subscription fees</li>
    </ul>
    <h3 class="font-semibold text-lg mt-3">
      What affects pricing?
    </h3>
    <ul>
      <li><strong>Customization</strong> (Unique design vs. template-based)</li>
      <li><strong>Functionality</strong> (Contact forms, booking systems, member logins, etc.)</li>
      <li><strong>Content & SEO</strong> (Professional copywriting, keyword optimization)</li>
      <li><strong>Ongoing Support</strong> (Updates, security monitoring, backups)</li>
    </ul>
    <h3 class="font-semibold text-lg mt-3">
      How I Keep Costs Manageable
    </h3>
    <p class="py-2">
      Want to save without sacrificing quality? Start with a template. Building a site or web app includes time for design, development, content creation and testing. If you find a design you like, I can customize it and add the functionality you need—saving time and budget. Any HTML template can be easily converted, but many templates designed for other systems can also easily convert to React or Rails.
    </p>
    <p class="py-2">
      You keep the code, design, and content. Everything I do for you is all yours. I use GitHub or GitLab for version control so you always know what I have worked up. Designs are done in Figma so you always have access to the work. I use a PaaS like Render, Digital Ocean or Heroku for hosting. My builds are custom and built to your specifications. I typically have a working prototype ready for you during the build for you to review and give feedback.
    </p>
    <p class="py-2">
      I organize the project in ClickUp so you can track tasks, get updates, and receive support. I also use WakaTime to track coding hours. All of this plus having a lower rate than most helps you better budget for the project you have been waiting for.
    </p>
    <p class="py-2">
      <strong>Still unsure?</strong> Try our <strong>free price estimator</strong> to get a clearer idea of what your project could cost. Just answer a few quick questions, and it will factor in everything from SEO to mobile responsiveness.
    </p>
    <p class="py-2">
      Your website is your digital storefront. Let's build one that works for you—not one that leaves you frustrated and Googling at 2 AM.
    </p>
  </div>
</section>
<!-- Contact -->
<section id="contact" class="mt-6 bg-base-light text-base-dark dark:bg-base-dark dark:text-gray-50">
  <div class="flex flex-col items-center max-w-xl w-full h-svh my-6">
    <h2 class="text-3xl font-bold my-2">Contact Me</h2>
    <hr class="border border-base-dark dark:border-base-light w-full my-3">
    <p class="py-6 px-2 sm:px-0">I would love to hear from you! Please fill out the form below and I will get back to you as soon as possible.</p>
    <%= form_with model: @contact, url: contact_path, local: true do |form| %>
      <div class="flex flex-col justify-between items-center gap-4 w-full">
        <div class="flex justify-between items-center w-full gap-2">
          <%= form.label :f_name, "First Name", class: "w-full" %>
          <%= form.text_field :f_name, class: "w-full rounded-md" %>
        </div>
        <div class="flex justify-between items-center w-full gap-2">
          <%= form.label :l_name, "Last Name", class: "w-full" %>
          <%= form.text_field :l_name, class: "w-full rounded-md" %>
        </div>
        <div class="flex justify-between items-center w-full gap-2">
          <%= form.label :email, "Email", class: "" %>
          <%= form.email_field :email, class: "w-full rounded-md" %>
        </div>
        <div class="flex flex-col justify-between items-center w-full gap-2">
          <%= form.label :description, "How can I help?", class: "" %>
          <%= form.text_area :description, class: "w-full rounded-md" %>
        </div>
        <div>
          <%= form.submit "Send", class: " py-2 px-6 border border-base-dark dark:border-base-light rounded-md" %>
        </div>
      </div>
    <% end %>
  </div>
</section>
