<div class="w-[1512px] h-[1500px] relative bg-[#1b0e00]  overflow-hidden">
  <div class="w-[68px] h-[22px] left-[966px] top-[370px] absolute bg-[#787878] rounded-tl-[5px] rounded-bl-[5px]"></div>
  <div class="left-[971px] top-[374px] absolute text-white text-xs font-semibold font-['Albert Sans']">NodeJs</div>
  <div class="w-32 h-[22px] left-[1034px] top-[370px] absolute bg-[#15bdff] rounded-tr-[5px] rounded-br-[5px]"></div>
  <%= render PillComponent.new(skill: 'HTML', version: 'Semantic V5', version_color: 'bg-pill-green') %>
  <div class="w-[196px] h-[22px] left-[966px] top-[280px] absolute">
    <div class="w-[68px] h-[22px] left-0 top-0 absolute bg-[#787878] rounded-tl-[5px] rounded-bl-[5px]"></div>
    <div class="left-[5px] top-[4px] absolute text-white text-xs font-semibold font-['Albert Sans']">CSS</div>
    <div class="w-32 h-[22px] left-[68px] top-0 absolute bg-[#03b743] rounded-tr-[5px] rounded-br-[5px]"></div>
    <div class="left-[73px] top-[4px] absolute text-black text-xs font-semibold font-['Albert Sans']">Style Sheets V3</div>
  </div>
  <div class="w-[196px] h-[22px] left-[966px] top-[310px] absolute">
    <div class="w-[68px] h-[22px] left-0 top-0 absolute bg-[#787878] rounded-tl-[5px] rounded-bl-[5px]"></div>
    <div class="left-[5px] top-[4px] absolute text-white text-xs font-semibold font-['Albert Sans']">ReactJs</div>
    <div class="w-32 h-[22px] left-[68px] top-0 absolute bg-[#15bdff] rounded-tr-[5px] rounded-br-[5px]"></div>
    <div class="left-[73px] top-[4px] absolute text-black text-xs font-semibold font-['Albert Sans']">Javascript V16.8 ^</div>
  </div>
  <div class="w-[196px] h-[22px] left-[966px] top-[340px] absolute">
    <div class="w-[68px] h-[22px] left-0 top-0 absolute bg-[#787878] rounded-tl-[5px] rounded-bl-[5px]"></div>
    <div class="left-[5px] top-[4px] absolute text-white text-xs font-semibold font-['Albert Sans']">NextJs</div>
    <div class="w-32 h-[22px] left-[68px] top-0 absolute bg-[#15bdff] rounded-tr-[5px] rounded-br-[5px]"></div>
    <div class="left-[73px] top-[4px] absolute text-black text-xs font-semibold font-['Albert Sans']">Javascript V12.0 ^</div>
  </div>
  <div class="left-[1039px] top-[374px] absolute text-black text-xs font-semibold font-['Albert Sans']">Javascript V16.16 ^</div>
  <div class="w-[196px] h-[22px] left-[966px] top-[400px] absolute">
    <div class="w-[68px] h-[22px] left-0 top-0 absolute bg-[#787878] rounded-tl-[5px] rounded-bl-[5px]"></div>
    <div class="left-[5px] top-[4px] absolute text-white text-xs font-semibold font-['Albert Sans']">Express</div>
    <div class="w-32 h-[22px] left-[68px] top-0 absolute bg-[#15bdff] rounded-tr-[5px] rounded-br-[5px]"></div>
    <div class="left-[73px] top-[4px] absolute text-black text-xs font-semibold font-['Albert Sans']">Javascript V4.0</div>
  </div>
  <div class="w-[196px] h-[22px] left-[966px] top-[460px] absolute">
    <div class="w-[68px] h-[22px] left-0 top-0 absolute bg-[#787878] rounded-tl-[5px] rounded-bl-[5px]"></div>
    <div class="left-[5px] top-[4px] absolute text-white text-xs font-semibold font-['Albert Sans']">Prisma</div>
    <div class="w-32 h-[22px] left-[68px] top-0 absolute bg-[#d98aff] rounded-tr-[5px] rounded-br-[5px]"></div>
    <div class="left-[73px] top-[4px] absolute text-black text-xs font-semibold font-['Albert Sans']">ORM V2.0</div>
  </div>
  <div class="w-[196px] h-[22px] left-[966px] top-[490px] absolute">
    <div class="w-[68px] h-[22px] left-0 top-0 absolute bg-[#787878] rounded-tl-[5px] rounded-bl-[5px]"></div>
    <div class="left-[5px] top-[4px] absolute text-white text-xs font-semibold font-['Albert Sans']">TypeORM</div>
    <div class="w-32 h-[22px] left-[68px] top-0 absolute bg-[#d98aff] rounded-tr-[5px] rounded-br-[5px]"></div>
    <div class="left-[73px] top-[4px] absolute text-black text-xs font-semibold font-['Albert Sans']">ORM</div>
  </div>
  <div class="w-[196px] h-[22px] left-[966px] top-[520px] absolute">
    <div class="w-[68px] h-[22px] left-0 top-0 absolute bg-[#787878] rounded-tl-[5px] rounded-bl-[5px]"></div>
    <div class="left-[5px] top-[4px] absolute text-white text-xs font-semibold font-['Albert Sans']">AWS</div>
    <div class="w-32 h-[22px] left-[68px] top-0 absolute bg-[#ffb248] rounded-tr-[5px] rounded-br-[5px]"></div>
    <div class="left-[73px] top-[4px] absolute text-black text-xs font-semibold font-['Albert Sans']">Cloud Services</div>
  </div>
  <div class="w-[196px] h-[22px] left-[966px] top-[550px] absolute">
    <div class="w-[68px] h-[22px] left-0 top-0 absolute bg-[#787878] rounded-tl-[5px] rounded-bl-[5px]"></div>
    <div class="left-[5px] top-[4px] absolute text-white text-xs font-semibold font-['Albert Sans']">Azure</div>
    <div class="w-32 h-[22px] left-[68px] top-0 absolute bg-[#ffb248] rounded-tr-[5px] rounded-br-[5px]"></div>
    <div class="left-[73px] top-[4px] absolute text-black text-xs font-semibold font-['Albert Sans']">Cloud Services</div>
  </div>
  <div class="w-[196px] h-[22px] left-[966px] top-[430px] absolute">
    <div class="w-[68px] h-[22px] left-0 top-0 absolute bg-[#787878] rounded-tl-[5px] rounded-bl-[5px]"></div>
    <div class="left-[5px] top-[4px] absolute text-white text-xs font-semibold font-['Albert Sans']">RoR</div>
    <div class="w-32 h-[22px] left-[68px] top-0 absolute bg-[#ff7a7a] rounded-tr-[5px] rounded-br-[5px]"></div>
    <div class="left-[73px] top-[4px] absolute text-black text-xs font-semibold font-['Albert Sans']">Rails V8 Ruby V3</div>
  </div>
  <div class="w-[196px] h-[22px] left-[966px] top-[580px] absolute">
    <div class="w-[68px] h-[22px] left-0 top-0 absolute bg-[#787878] rounded-tl-[5px] rounded-bl-[5px]"></div>
    <div class="left-[5px] top-[4px] absolute text-white text-xs font-semibold font-['Albert Sans']">PaaS</div>
    <div class="w-32 h-[22px] left-[68px] top-0 absolute bg-[#9effc4] rounded-tr-[5px] rounded-br-[5px]"></div>
    <div class="left-[73px] top-[4px] absolute text-black text-xs font-semibold font-['Albert Sans']">Heroku</div>
  </div>
  <div class="w-[196px] h-[22px] left-[966px] top-[610px] absolute">
    <div class="w-[68px] h-[22px] left-0 top-0 absolute bg-[#787878] rounded-tl-[5px] rounded-bl-[5px]"></div>
    <div class="left-[5px] top-[4px] absolute text-white text-xs font-semibold font-['Albert Sans']">PaaS</div>
    <div class="w-32 h-[22px] left-[68px] top-0 absolute bg-[#9effc4] rounded-tr-[5px] rounded-br-[5px]"></div>
    <div class="left-[73px] top-[4px] absolute text-black text-xs font-semibold font-['Albert Sans']">Render</div>
  </div>
  <div class="w-[196px] h-[22px] left-[966px] top-[640px] absolute">
    <div class="w-[68px] h-[22px] left-0 top-0 absolute bg-[#787878] rounded-tl-[5px] rounded-bl-[5px]"></div>
    <div class="left-[5px] top-[4px] absolute text-white text-xs font-semibold font-['Albert Sans']">PaaS</div>
    <div class="w-32 h-[22px] left-[68px] top-0 absolute bg-[#9effc4] rounded-tr-[5px] rounded-br-[5px]"></div>
    <div class="left-[73px] top-[4px] absolute text-black text-xs font-semibold font-['Albert Sans']">Digital Ocean</div>
  </div>
  <div class="w-[780px] h-[0px] left-[382px] top-[222px] absolute border border-white"></div>
  <div class="w-[575px] h-[280px] left-[386px] top-[245px] absolute">
    <%= image_tag "project-ebs.webp", class: "w-[200px] h-[275px] left-0 top-[5px] absolute rounded-[10px]" %>
    <div class="left-[224px] top-0 absolute text-white text-2xl font-semibold font-['Albert Sans']">East Bound Services</div>
    <div class="w-[351px] h-[140px] left-[224px] top-[33px] absolute text-white text-sm font-normal font-['Albert Sans']">Built for TruckerJobs4u, this is a CDL truck driver recruitment site. The latest, to production, app I have built in Rails 7.2. Features includes email features when drivers sign up for information. Admin panel for review of driver leads. Social admin dashboard for blog management. There is unfinished code to allow members to create profile and add experience and history. Plans began for adding job board.</div>
    <div class="left-[224px] top-[220px] absolute text-white text-sm font-normal font-['Albert Sans']">https://github.com/Developer3027/recruitment</div>
    <div class="left-[224px] top-[252px] absolute text-white text-sm font-normal font-['Albert Sans']">Integrated into MILK.</div>
  </div>
  <div class="w-[575px] h-[280px] left-[386px] top-[535px] absolute">
    <%= image_tag "project-copywriter.webp", class: "w-[200px] h-[275px] left-0 top-[5px] absolute rounded-[10px]" %>
    <div class="left-[224px] top-0 absolute text-white text-2xl font-semibold font-['Albert Sans']">Copywriter</div>
    <div class="w-[351px] h-[102px] left-[224px] top-[33px] absolute text-white text-sm font-normal font-['Albert Sans']">Copywriter is an old Figma design that I found inspiration to dive back into. Site was designed and built in WordPress with Elementor. That work is lost. Found a copywriter team on Fivver and am blending the two concepts. This project will have an internal email service at mimimum.</div>
    <div class="left-[224px] top-[220px] absolute text-white text-sm font-normal font-['Albert Sans']">https://github.com/Developer3027/copywriter</div>
    <div class="left-[224px] top-[252px] absolute text-white text-sm font-normal font-['Albert Sans']">Integrated into MILK.</div>
  </div>
  <div class="w-[744px] h-[280px] left-[386px] top-[1115px] absolute">
    <%= image_tag "project-st.webp", class: "w-[200px] h-[275px] left-0 top-[5px] absolute rounded-[10px]" %>
    <div class="left-[224px] top-0 absolute text-white text-2xl font-semibold font-['Albert Sans']">Swabbie</div>
    <div class="w-[351px] h-[102px] left-[224px] top-[33px] absolute text-white text-sm font-normal font-['Albert Sans']">I watch several sailing channels and would love to have then all in one place to enjoy. It would be even better is there was an online store for them where I can purchase the same products they use to build these beautiful vessels. Maybe be able to schedule a night cruise? Love you guys.</div>
    <div class="w-[520px] h-8 left-[224px] top-[205px] absolute text-white text-sm font-normal font-['Albert Sans']">https://www.figma.com/design/dCAzFHKupofhmKft0Anl5L/Salt-and-Tar?node-id=0-1&t=Y3P3CbVwRbm5QAt4-1</div>
    <div class="left-[224px] top-[252px] absolute text-white text-sm font-normal font-['Albert Sans']">Integrated into MILK.</div>
  </div>
  <div class="w-[575px] h-[280px] left-[386px] top-[825px] absolute">
    <%= image_tag "project-hermits.webp", class: "w-[200px] h-[275px] left-0 top-[5px] absolute rounded-[10px]" %>
    <div class="left-[224px] top-0 absolute text-white text-2xl font-semibold font-['Albert Sans']">Hermit Plus</div>
    <div class="w-[351px] h-[92px] left-[224px] top-[33px] absolute text-white text-sm font-normal font-['Albert Sans']">Built early in my journey, this landing page was designed in Figma, built with React. That builds HTML, CSS, and JavaScript were set in a S3 bucket configured for a public web site, and ran through CloudFront for the Edge service. </div>
    <div class="left-[224px] top-[188px] absolute text-white text-sm font-normal font-['Albert Sans']">https://github.com/Developer3027/hermit-plus-old</div>
    <div class="left-[224px] top-[252px] absolute text-white text-sm font-normal font-['Albert Sans']">https://www.hermitplus.com/</div>
    <div class="left-[224px] top-[220px] absolute text-white text-sm font-normal font-['Albert Sans']">Integrated into MILK.</div>
  </div>
  <div class="w-[780.42px] h-[107px] left-[382px] top-[91px] absolute">
    <div class="left-0 top-0 absolute text-[#87b5df] text-[32px] font-bold font-['Albert Sans']">Mason Roberts</div>
    <div class="left-0 top-[42px] absolute text-white text-base font-normal font-['Albert Sans']">2363 Eden terr.</div>
    <div class="left-0 top-[65px] absolute text-white text-base font-normal font-['Albert Sans']">Rock Hill, SC. 29732</div>
    <div class="left-0 top-[88px] absolute text-white text-base font-normal font-['Albert Sans']">mrobe18@gmail.com</div>
    <div class="left-[228px] top-[42px] absolute text-white text-base font-normal font-['Albert Sans']">https://www.linkedin.com/in/mason-roberts-3027</div>
    <div class="left-[228px] top-[65px] absolute text-white text-base font-normal font-['Albert Sans']">https://github.com/Developer3027</div>
    <div class="left-[228px] top-[88px] absolute text-white text-base font-normal font-['Albert Sans']">https://gitlab.com/Dev3027</div>
    <div class="w-[88.42px] h-[84px] left-[692px] top-[23px] absolute">
      <div class="w-[41.95px] h-[64.10px] left-[13.66px] top-[69.26px] absolute">
      </div>
    </div>
  </div>
</div>