<a href="<%= data[:url] %>" target="_blank" referrerpolicy="strict-origin">
  <div class="flex flex-col items-end px-3 w-36 border border-swabbie-st-secondary rounded-lg bg-no-repeat bg-left bg-[length:40px_40px]"
       style="background-image: url("<%= data[:icon_path] %>")">
    <h1 class="font-Inconsolata text-xl text-swabbie-st-primary font-bold"><%= data[:name] %></h1>
    <p class="font-Inconsolata text-4xl font-bold"><%= data[:formatted_count] %></p>
    <small class="font-Inconsolata text-base font-semibold">
      <%= data[:label] %>
    </small>
  </div>
</a>