<!-- //! images to s3 bucket -->
<section class="w-full bg-slate-50">
  <div class="flex flex-col justify-center items-center bg-hermit-lt-blue">
    <div class="bg-[url('https://www.hermitplus.com/static/media/minecraft_full_bg.0e9ff1403ea12532acc2.jpg')] bg-top img-half-size md:bg-cover bg-no-repeat w-full h-[500px] md:h-[700px] relative">
      <div class="w-full h-full z-10 bg-gradient-to-b from-transparent to-hermit-lt-blue"></div>
      <div class="flex flex-col items-center justify-between top-32 w-full absolute z-20">
          <%= image_tag("https://www.hermitplus.com/static/media/HermitPlusBend.15a55a5b943048dca8b3.png", alt: "Hermit Logo") %>
      </div>
    </div>
  </div>
  <div class="flex items-center justify-center w-full bg-hermit-lt-blue py-2">
    <!-- Cards to partial -->
    <div class="flex flex-wrap justify-center items-center gap-2 md:hidden">
      <div>
        <%= image_tag("https://www.hermitplus.com/static/media/bDouble0S8E1thumb.49a814d250dfe43325da.webp", alt: "b dubs", class: "w-[246px] h-[138px]") %>
      </div>
      <div>
        <%= image_tag("https://www.hermitplus.com/static/media/cubFanS8E1thumb.0d3095afc3a43720b058.webp", alt: "cub fan", class: "w-[246px] h-[138px]") %>
      </div>
      <div>
        <%= image_tag("https://www.hermitplus.com/static/media/docm77S8E1thumb.406c2e9eaff63469d0b7.webp", alt: "doc m 77", class: "w-[246px] h-[138px]") %>
      </div>
      <div>
        <%= image_tag("https://www.hermitplus.com/static/media/ethoS8E1thumb.8b6603db7ca723787dd7.webp", alt: "etho", class: "w-[246px] h-[138px]") %>
      </div>
    </div>
    <div class="hidden md:grid md:grid-cols-3 lg:grid-cols-4 gap-2">
      <div>
        <%= image_tag("https://www.hermitplus.com/static/media/bDouble0S8E1thumb.49a814d250dfe43325da.webp", alt: "b dubs", class: "w-[246px] h-[138px]") %>
      </div>
      <div>
        <%= image_tag("https://www.hermitplus.com/static/media/cubFanS8E1thumb.0d3095afc3a43720b058.webp", alt: "cub fan", class: "w-[246px] h-[138px]") %>
      </div>
      <div>
        <%= image_tag("https://www.hermitplus.com/static/media/docm77S8E1thumb.406c2e9eaff63469d0b7.webp", alt: "doc m 77", class: "w-[246px] h-[138px]") %>
      </div>
      <div>
        <%= image_tag("https://www.hermitplus.com/static/media/ethoS8E1thumb.8b6603db7ca723787dd7.webp", alt: "etho", class: "w-[246px] h-[138px]") %>
      </div>
      <div>
        <%= image_tag("https://www.hermitplus.com/static/media/falseS8E1thumb.4b45cd0493aab06d5660.webp", alt: "false", class: "w-[246px] h-[138px]") %>
      </div>
      <div>
        <%= image_tag("https://www.hermitplus.com/static/media/geminiS8E1thumb.be2f521da26369aec7fc.webp", alt: "gemini", class: "w-[246px] h-[138px]") %>
      </div>
      <div>
        <%= image_tag("https://www.hermitplus.com/static/media/scarS8E1thumb.aa49175f49dff67b71cd.webp", alt: "scar", class: "w-[246px] h-[138px]") %>
      </div>
      <div>
        <%= image_tag("https://www.hermitplus.com/static/media/grianS8E1thumb.a0c77b7e12fd77e23cf7.webp", alt: "grian", class: "w-[246px] h-[138px]") %>
      </div>
      <div>
        <%= image_tag("https://www.hermitplus.com/static/media/hypnoS8E1thumb.15208383a26b21b9dc86.webp", alt: "hypno", class: "w-[246px] h-[138px]") %>
      </div>
      <div>
        <%= image_tag("https://www.hermitplus.com/static/media/jevinS8E1thumb.23d5e9e26086430b12b0.webp", alt: "jevin", class: "w-[246px] h-[138px]") %>
      </div>
      <div>
        <%= image_tag("https://www.hermitplus.com/static/media/impulseS8E1thumb.c3b2140e7257ecfc524e.webp", alt: "impulse", class: "w-[246px] h-[138px]") %>
      </div>
      <div>
        <%= image_tag("https://www.hermitplus.com/static/media/iskalS8E1thumb.d067b5e9c56b2690a1f1.webp", alt: "iskal", class: "w-[246px] h-[138px]") %>
      </div>
      <div>
        <%= image_tag("https://www.hermitplus.com/static/media/joeHillsS8E1thumb.baae1854c33eca80a70f.webp", alt: "joe hill", class: "w-[246px] h-[138px]") %>
      </div>
      <div>
        <%= image_tag("https://www.hermitplus.com/static/media/keralisS8E1thumb.30fd5f23e5490c80c4dc.webp", alt: "keralis", class: "w-[246px] h-[138px]") %>
      </div>
      <div>
        <%= image_tag("https://www.hermitplus.com/static/media/mumboS8E1thumb.189b02bbc1715a1ad931.webp", alt: "mumbo", class: "w-[246px] h-[138px]") %>
      </div>
      <div>
        <%= image_tag("https://www.hermitplus.com/static/media/pearlMoonS8E1thumb.7b4084ad44af4492637a.webp", alt: "pearl moon", class: "w-[246px] h-[138px]") %>
      </div>
      <div>
        <%= image_tag("https://www.hermitplus.com/static/media/rendogS8E1thumb.7d5a37ac0a9b0d663862.webp", alt: "rendog", class: "w-[246px] h-[138px]") %>
      </div>
      <div>
        <%= image_tag("https://www.hermitplus.com/static/media/stressS8E1thumb.721c2accb42c4f5caeb2.webp", alt: "stress", class: "w-[246px] h-[138px]") %>
      </div>
      <div>
        <%= image_tag("https://www.hermitplus.com/static/media/tangoS8E1thumb.56e42dd3f4d1e1b83943.webp", alt: "tango", class: "w-[246px] h-[138px]") %>
      </div>
      <div>
        <%= image_tag("https://www.hermitplus.com/static/media/tinS8E1thumb.b1ce0d78fa3a75abc7d7.webp", alt: "tin", class: "w-[246px] h-[138px]") %>
      </div>
      <div>
        <%= image_tag("https://www.hermitplus.com/static/media/welknightS8E1thumb.3363283e170726c026a4.webp", alt: "wells knight", class: "w-[246px] h-[138px]") %>
      </div>
      <div>
        <%= image_tag("https://www.hermitplus.com/static/media/xbS8E1thumb.614c7553c403a603f1cc.webp", alt: "xb craft", class: "w-[246px] h-[138px]") %>
      </div>
      <div>
        <%= image_tag("https://www.hermitplus.com/static/media/xisumaS8E1thumb.2935039b8e1245c49e22.webp", alt: "xisuma", class: "w-[246px] h-[138px]") %>
      </div>
      <div>
        <%= image_tag("https://www.hermitplus.com/static/media/zedaphS8E1thumb.03c71c9f057be0481e8f.webp", alt: "zedaph", class: "w-[246px] h-[138px]") %>
      </div>
      <div class="shadow-md shadow-hermit-smoke rounded hover:shadow-none">
        <%= image_tag("https://www.hermitplus.com/static/media/zombieS8E1thumb.8c2d71f9e8373ecac2a7.webp", alt: "zombie", class: "w-[246px] h-[138px] rounded") %>
      </div>
    </div>
  </div>
  <div class="flex flex-col justify-center items-center bg-hermit-lt-blue py-6">
    <h2 class="text-[32px] md:text-[46px] lg:text-[64px] font-bold font-kanit text-hermit-yellow drop-shadow-dark">Hermitcraft fans REJOICE!</h2>
    <p class="md:text-2xl font-mPlusCode font-semibold text-hermit-burnt py-4">Get info and stats on your favorite hermits</p>
  </div>
  <div class="flex justify-center bg-hermit-lt-blue py-6">
    <div class="flex flex-wrap justify-evenly lg:max-w-6xl w-full">
    <%= image_tag("https://milk-blog.s3.us-east-2.amazonaws.com/hermits/gemini-card.jpg", alt: "Gemini Card", class: "w-[210px] h-[315px] rounded shadow-md shadow-hermit-smoke") %>
    <%= image_tag("https://milk-blog.s3.us-east-2.amazonaws.com/hermits/pearl-card.jpg", alt: "Gemini Card", class: "w-[210px] h-[315px] rounded shadow-md shadow-hermit-smoke mt-8") %>
    <%= image_tag("https://milk-blog.s3.us-east-2.amazonaws.com/hermits/mumbo-card.jpg", alt: "Gemini Card", class: "w-[210px] h-[315px] rounded shadow-md shadow-hermit-smoke mt-8 md:mt-0") %>
    <%= image_tag("https://milk-blog.s3.us-east-2.amazonaws.com/hermits/bdubs-card.jpg", alt: "Gemini Card", class: "w-[210px] h-[315px] rounded shadow-md shadow-hermit-smoke mt-8") %>
    </div>
  </div>
</section>