<!-- //! images to s3 bucket -->
<section class="w-full bg-slate-50">
  <div class="flex flex-col justify-center items-center bg-hermit-lt-blue">
    <div class="bg-[url('https://www.hermitplus.com/static/media/minecraft_full_bg.0e9ff1403ea12532acc2.jpg')] bg-top img-half-size md:bg-cover bg-no-repeat w-full h-[500px] md:h-[700px] relative">
      <div class="w-full h-full z-10 bg-linear-to-b from-transparent to-hermit-lt-blue"></div>
      <div class="flex flex-col items-center justify-between top-32 w-full absolute z-20">
          <%= image_tag("https://www.hermitplus.com/static/media/HermitPlusBend.15a55a5b943048dca8b3.png", alt: "Hermit Logo") %>
      </div>
    </div>
  </div>
  <div class="flex items-center justify-center w-full bg-hermit-lt-blue p-1">
    <!-- Cards to partial -->
    <div class="z-20 w-full lg:max-w-5xl h-full grid gap-0.5 grid-cols-6 grid-rows-12 mt-[-50vh] overflow-hidden xl:mt-[-15%] lg:grid-rows-[repeat(12,63px)] md:grid-rows-[repeat(12,49px)] sm:grid-rows-[repeat(12,36px)] max-sm:hidden video-grid">
      <% 25.times do |i| %>
        <div>
          <%= link_to root_path do %>
            <img class="max-w-[218px] rounded-lg border border-burnt
                        lg:max-w-[206px]
                        md:max-w-[148px]
                        sm:max-w-[106px]" src="https://www.hermitplus.com/static/media/bDouble0S8E1thumb.49a814d250dfe43325da.webp" alt="Video Thumbnail" />
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

</section>
<section class="flex flex-col justify-center items-center bg-hermit-lt-blue w-full">
    <h2 class="text-[32px] md:text-[46px] lg:text-[64px] font-bold font-kanit text-hermit-yellow drop-shadow-dark">Hermitcraft fans REJOICE!</h2>
    <p class="md:text-2xl font-mPlusCode font-semibold text-hermit-burnt py-4">Get info and stats on your favorite hermits</p>
  <div class="flex justify-center bg-hermit-lt-blue py-6">
    <div class="flex flex-wrap justify-evenly lg:max-w-5xl gap-2 w-full">
    <%= image_tag("https://milk-blog.s3.us-east-2.amazonaws.com/hermits/gemini-card.jpg", alt: "Gemini Card", class: "w-[210px] h-[315px] rounded-sm shadow-md shadow-hermit-smoke") %>
    <%= image_tag("https://milk-blog.s3.us-east-2.amazonaws.com/hermits/pearl-card.jpg", alt: "Pearl Card", class: "w-[210px] h-[315px] rounded-sm shadow-md shadow-hermit-smoke mt-8") %>
    <%= image_tag("https://milk-blog.s3.us-east-2.amazonaws.com/hermits/mumbo-card.jpg", alt: "Mumbo Card", class: "hidden md:block md:w-[210px] h-[315px] rounded-sm shadow-md shadow-hermit-smoke mt-8 md:mt-0") %>
    <%= image_tag("https://milk-blog.s3.us-east-2.amazonaws.com/hermits/bdubs-card.jpg", alt: "B Dubs Card", class: "hidden lg:block lg:w-[210px] h-[315px] rounded-sm shadow-md shadow-hermit-smoke mt-8") %>
    </div>
  </div>
</section>
<section class="flex justify-center bg-hermit-lt-blue w-screen">
  <div class="flex justify-center items-center w-full lg:max-w-5xl">
    <!-- Character Images -->
    <%= image_tag("hermits/mumbo_skin.png", alt: "Mumbo Skin", class: "hidden md:block md:w-52") %>
    <!-- Landing Hermit Info -->
      <p class="w-[446px] p-2 text-sm text-hermit-burnt bg-gray-50 rounded-lg">
        Introducing Hermit Plus. A web app that shows all the hermits just the way you want to see them. All your Hermits gathered in one place, presented in a tastefully pleasing format, with all the information you want to know about them. This is the experience you didn’t know you wanted.
      </p>
      <%= image_tag("hermits/iskal_minecraft_skin.png", alt: "Iskal Skin", class: "hidden md:block md:w-52") %>
  </div>
</section>