<div data-controller="music--smart-image"
     data-music--smart-image-id-value="<%= song.id %>"
     data-music--smart-image-url-value="<%= url_for(song.audio_file) if song.audio_file.attached? %>"
     data-music--smart-image-title-value="<%= song.title %>"
     data-music--smart-image-artist-value="<%= song.artist.name %>"
     data-music--smart-image-banner-value="<%= url_for(song.image) if song.image.attached? %>">

  <%= image_tag url_for(song.image), 
      class: "rounded-lg w-28 border-2 border-gray-200 cursor-pointer",
      alt: "Album cover for: #{song.title}",
      aria: { label: "Album cover for: #{song.title}" },
      data: { 
        music__smart_image_target: "playButton",
        action: "click->music--smart-image#playRequest"
      } %>
</div>
