<section class="flex flex-col items-center bg-white rounded-md", data-controller="swab-slides">
  <div class="flex justify-evenly items-center w-[100vw] md:w-[90vw] my-4">
    <%= link_to 'MILK', root_path, class: "text-3xl font-extrabold text-base-dark" %>
  </div>
  <div class="flex w-[100vw] md:w-[90vw] py-4">
    <div class="swab-panel bg-[url('https://milk-blog.s3.us-east-2.amazonaws.com/saltandtar/rediviva.png')]", data-swab-slides-target="panel",  data-action="click->swab-slides#expand", data-id="panel1">
      <%= link_to saltandtar_path do %>
        <h3 class="font-fell text-3xl absolute bottom-6 left-6 opacity-0">Salt and Tar</h3>
      <% end %>
      <p class="absolute lg:top-4 lg:right-8 w-full lg:w-1/2 lg:m-2 p-2 rounded-t lg:rounded-sm bg-base-dark opacity-0">
        Meet an incredible cruising couple who crafted their wooden boat from the ground up in the lush woods of Washington State. Their love story and passion for sailing began long before this channel ever existed. With his deep obsession for woodworking and her unwavering affection for him and their vessel, their journey is nothing short of inspiring. I’ve binge-watched this series countless times, captivated by their dedication and the beauty of their adventure on the open sea.
      <%= link_to "MILKs Salt and Tar remake.", saltandtar_path, class: "text-milk-light font-bold"%>
      </p>
    </div>
    <div class="swab-panel bg-[url('https://milk-blog.s3.us-east-2.amazonaws.com/saltandtar/birb.png')]", data-swab-slides-target="panel", data-action="click->swab-slides#expand", data-id="panel2">
      <h3 class="font-fell text-3xl absolute bottom-6 left-6 opacity-0">Emma Builds Birbie</h3>
      <p class="absolute lg:top-4 lg:right-8 w-full lg:w-1/2 lg:m-2 p-2 rounded-t lg:rounded-sm bg-base-dark opacity-0">
        This young lady is impressively resourceful. After successfully converting a bus, she’s now diving headfirst into building a houseboat. It’s a delightful journey as she navigates the ups and downs of her DIY adventure, stumbling her way toward perfection. Despite moments of frustration and self-doubt, her determination shines through as she pursues her dream. I can’t wait to see her creation on the water—her boat build is truly one to watch!
      <%= link_to "Coming Soon.", swabbies_path, class: "text-milk-light font-bold"%>
      </p>
    </div>
    <div class="swab-panel bg-[url('https://milk-blog.s3.us-east-2.amazonaws.com/saltandtar/sailingyaba.png')]", data-swab-slides-target="panel", data-action="click->swab-slides#expand", data-id="panel3">
      <h3 class="font-fell text-3xl absolute bottom-6 left-6 opacity-0">Sailing Yaba</h3>
      <p class="absolute lg:top-4 lg:right-8 w-full lg:w-1/2 lg:m-2 p-2 rounded-t lg:rounded-sm bg-base-dark opacity-0">
        They took the plunge on a boat that was literally sinking. Sure, it had stunning lines and a personality that could charm anyone, but let’s be real—buying a sinking boat isn’t exactly smart. Yet, their unwavering belief in each other, deep passion for the ocean, and relentless determination make their journey a captivating experience. Join them as they navigate the highs and lows of sailing life, proving that love and grit can conquer even the roughest waters.
      <%= link_to "Coming Soon", swabbies_path, class: "text-milk-light font-bold"%>
      </p>
    </div>
    <div class="swab-panel bg-[url('https://milk-blog.s3.us-east-2.amazonaws.com/saltandtar/sampsonboat.png')]", data-swab-slides-target="panel", data-action="click->swab-slides#expand", data-id="panel4">
      <h3 class="font-fell text-3xl absolute bottom-6 left-6 opacity-0">Sampson Boat Co.</h3>
      <p class="absolute lg:top-4 lg:right-8 w-full lg:w-1/2 lg:m-2 p-2 rounded-t lg:rounded-sm bg-base-dark opacity-0">
        Leo is an exceptional craftsman and an absolute joy to watch. His channel is both entertaining and educational, making it a must-see for anyone curious about the art of boat building. If you’ve ever wondered what goes into constructing a ship of the line, the terminology behind a vessel’s anatomy, or how those precise angles are expertly crafted, look no further. With his charming British accent and genuine passion for his craft, Leo brings the world of boat building to life.
      <%= link_to "Coming Soon", swabbies_path, class: "text-milk-light font-bold"%>
      </p>
    </div>
    <div class="swab-panel bg-[url('https://milk-blog.s3.us-east-2.amazonaws.com/saltandtar/sailingartha.png')]", data-swab-slides-target="panel", data-action="click->swab-slides#expand", data-id="panel4">
      <h3 class="font-fell text-3xl absolute bottom-6 left-6 opacity-0">Sailing Artha</h3>
      <p class="absolute lg:top-4 lg:right-8 w-full lg:w-1/2 lg:m-2 p-2 rounded-t lg:rounded-sm bg-base-dark opacity-0">
        If a mermaid had legs, ( or a college dorm was a boat ), she would embody the spirit of Sailing Artha. This free-spirited sailor embraces the challenges of living on a boat with grace and determination. While life at sea can be tough, she navigates the ups and downs with a vibrant energy that’s truly inspiring. Join her as she transforms the trials of boat life into adventures, showcasing her resilience and love for the ocean. Her journey is a celebration of freedom and the beauty of sailing!
      <%= link_to "Coming Soon", swabbies_path, class: "text-milk-light font-bold"%>
      </p>
    </div>
  </div>
</section>