<% if featured_blog %>
  <%= link_to featured_blog, class: "flex flex-col justify-evenly items-center lg:flex-row w-96 md:w-full p-2 md:p-8 lg:px-16 rounded-md border border-input-background bg-slate-50" do %>
    <div class="flex justify-center m-1">
      <% if featured_blog.blog_image.attached? %>
        <%= image_tag url_for(featured_blog.blog_image), class: "rounded-sm h-48 object-cover", alt: featured_blog.title %>
      <% else %>
        <%= image_tag "https://milk-blog.s3.us-east-2.amazonaws.com/railamellon.jpg", class: "rounded-sm h-48 object-cover", alt: "Default featured image" %>
      <% end %>
    </div>
    <div class="flex flex-col max-w-[340px] m-1">
      <h2 class="font-bold px-1 py-2"><%= featured_blog.title %></h2>
      <p class="pb-3 px-1"><%= featured_blog.content.to_plain_text.truncate_words(30) %></p>
      <div class="flex justify-between font-medium text-sm text-base-dark px-1">
        <div class="flex flex-col">
          <span>Author: <%= featured_blog.milk_admin.full_name || featured_blog.milk_admin.email %></span>
          <span>Date: <%= featured_blog.created_at.strftime("%a, %d %b %Y") %></span>
        </div>
        <span>Category: <%= featured_blog.blog_category.title %></span>
      </div>
    </div>
  <% end %>
<% else %>
  <%= link_to feature_blogs_path, class: "flex flex-col justify-evenly items-center lg:flex-row w-96 md:w-full p-2 md:p-8 lg:px-16 rounded-md border border-input-background bg-slate-50" do %>
    <div class="flex justify-center m-1">
      <%= image_tag "https://milk-blog.s3.us-east-2.amazonaws.com/railamellon.jpg", class: "rounded-sm h-48 object-cover", alt: "Ladies green bike with water mellon inserts in tires against a stucko wall." %>
    </div>
    <div class="flex flex-col max-w-[340px] m-1">
      <h2 class="font-bold px-1 py-2">What is this, why, what is going on here?!</h2>
      <p class="pb-3 px-1">Welcome to the MILK-00 blog. This is a personal project of mine that I have been interested in for quit some time. This is several years in the making and...</p>
      <div class="flex justify-between font-medium text-sm text-base-dark px-1">
        <div class="flex flex-col">
          <span>Author: Mason Roberts</span>
          <span>Date: Mon, 15 Apr 2024</span>
        </div>
        <span>Category: General</span>
      </div>
    </div>
  <% end %>
<% end %>